*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

div, h1{
    margin-block: 0;
}

header{
    height: 15vh;
}

h1{
    background-color: bisque;
    border: 1px rgb(198, 196, 196) solid;
    box-shadow: 0 1px 3px 1px rgb(198, 196, 196);
    width: 50%;
    margin-inline: auto;

}

header, main{
    width: 50%;
    padding-block-start: 4rem;
    margin-inline: auto;
    margin-block: 0;
    background-color: rgb(245, 239, 220);
    text-align: center;
  
}

main{
    padding-block-end: 4rem;
    height: 85vh;
}

input{
    display: block;
    text-align: center;
    width: 70%;
    margin-inline: auto;
    height: 3rem;
    border: 1px rgb(163, 162, 162) solid;
    border-radius: 4px;
    box-shadow: 0 1px 3px 1px rgb(198, 196, 196);

}

.btn-style{
    display: inline-block;
   margin-block: 1rem;
   padding: 0.5rem;
   background-color: bisque;
   border: 1px rgb(163, 162, 162) solid;
   box-shadow: 0 1px 3px 1px rgb(198, 196, 196);
}


.element{
    margin-inline: 1rem;
    margin-block: 0.5rem ;
    font-size: 1.5rem;
}

.btn-delete{
    margin-inline-start: 3rem;
}

#task-list-container{
    text-align: center;
    margin-inline: auto;
    margin-top: 3rem;
    width: 70%;
}
#task-list-container button{
    display: inline-block;
    align-items: end;
    border: none;
    background-color: transparent;
    
}


